language: groovy
sudo: false
jdk:
- oraclejdk8

addons:
  firefox: "latest-esr"

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
- true

before_script:
 - "echo $JAVA_OPTS"
 - "export JAVA_OPTS=-Xmx512m"

script:
- ./gradlew guiTest build --stacktrace -Dstubrunner.skip-local-repo=true

env:
- TERM=dumb

after_success:
- ./gradlew test jacocoTestReport coveralls -Pcoverage

